/*HEADER*/

.presentation{
    margin: 12rem 0;
    text-align: center;

    &__title{
        font-size: 2.4rem;
        font-family: var(--font-Poppins);
        margin: 0 5rem;
    }
    
    &__paragraph{
        font-size: 1.4rem;
        line-height: 1.4;
        margin: 2rem 3.5rem;
        font-family: var(--font-Poppins);
    }

    &__image{
        margin-top: 6rem;
        width: 80%;
    }
}

@media screen and (min-width: 768px){
    .presentation{
        margin-top: 23rem;

    
        &__title{
            font-size: 4.7rem;
        }
        
        &__paragraph{
            display: inline-block;
            font-size: 1.9rem;
            line-height: 1.4;
            width: 55%;
        }
    
        &__image{
            margin-top: 6rem;
            width: 75%;
        }
    }
}

.boton{
    // display: inline-block;
    height: 4rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: var(--Pink);
    margin: 2rem;
    color: #fff;
    text-decoration: none;
    font-family: var(--font-Poppins);
    font-size: 1.3rem;
    display: grid;
    place-content: center;
    position: relative;
    left: 50%;
    transform: translate(-60%);
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);

    &:hover{
        background-color: var(--Light-Pink);
    }
}

@media screen and (min-width: 768px){
    .boton{
        height: 7.6rem;
        width: 38rem;
        border-radius: 3.8rem;
        margin-bottom: 11rem;
    }
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__box{
        margin: 2rem 0;
    }

    &__image{
        width: 2.7rem;
    }

    &__number{
        font-size: 4.6rem;
        font-family: var(--font-Poppins);
        // font-weight: 600;
    }

    &__text{
        text-align: center;
        font-family: var(--font-Poppins);
        font-weight: 100;
    }
}

@media screen and (min-width: 768px){
    .counter{
        flex-direction: row;
    
        &__box{
            margin: 0 16rem;
        }
    
        &__image{
            width: 4.4rem;
        }
    
        &__number{
            font-size: 6.8rem;
        }
    
        &__text{
            font-size: 2rem;
        }
    }
}


.information{
    text-align: center;
    font-family: var(--font-Poppins);
    margin: 4rem 0;

    &__image{
        width: 65%;
    }

    &__title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    &__paragraph{
        font-size: 1.2rem;
        margin: 0rem 2.5rem;
    }

    &__fondo-top-a{
        height: 10rem;
        // background-color: darkblue;
        background-image: url(/img/bg-section-top-mobile-1.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto;
    }

    &__fondo-bottom-a{
        // display: block;
        height: 5.2rem;
        // background-color: darkblue;
        background-image: url(/img/bg-section-bottom-mobile-1.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto;
    }

    &__fondo-top-b{
        height: 11rem;
        // background-color: darkblue;
        background-image: url(/img/bg-section-top-mobile-2.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto;
    }

    &__fondo-bottom-b{
        // display: block;
        height: 9rem;
        // background-color: darkblue;
        background-image: url(/img/bg-section-bottom-mobile-2.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto;
    }

}

@media screen and (min-width: 768px){
    .information{
        text-align: left;
        font-family: var(--font-Poppins);
        margin: 4rem 0;

        &__box{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__box-a{
            flex-direction: row-reverse;
        }

        &__texto{
            width: 45%;
            
        }
    
        &__image{
            width: 30%;
        }
    
        &__title{
            font-size: 4.3rem;
            margin-bottom: 1rem;
        }
        
        &__paragraph{
            font-size: 1.6rem;
            margin: 0;
        }
    
        &__fondo-top-a{
            height: 18rem;
            // background-color: darkblue;
            background-image: url(/img/bg-section-top-desktop-1.svg);
        }
    
        &__fondo-bottom-a{
            // display: block;
            height: 15rem;
            // background-color: darkblue;
            background-image: url(/img/bg-section-bottom-desktop-1.svg);
        }
    
        &__fondo-top-b{
            height: 16rem;
            // background-color: darkblue;
            background-image: url(/img/bg-section-top-desktop-2.svg);
        }
    
        &__fondo-bottom-b{
            // display: block;
            height: 14rem;
            // background-color: darkblue;
            background-image: url(/img/bg-section-bottom-desktop-2.svg);
        }
    
    }
}


.box-bluelight{
    background-color: #F6FBFF;
}

.conect{
    text-align: center;
    margin: 11rem 0;

    &__title{
        font-family: var(--font-Poppins);
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 768px){
    .conect{
    
        &__title{
            font-size: 3.4rem;
            margin-bottom: 4.2rem;
        }
    }
}
